body {
  position: relative;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5%;
}

td {
  vertical-align: top;
  padding: 0 5% 4% 0;
}

.bg-image {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: hsl(193, 100%, 96%);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.button, .get-started-button {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1rem;
  border-radius: 40px;
  box-shadow: 0.1px 0.1px 6px lightgray;
  padding: 5px 50px;
}

.container-fluid{
  padding: 4% 9%;
}

.header-row {
  padding-top: 8%;
}

.header-description p {
  margin: 5% auto 7%;
}


.mockups {
  width: 100%;
}

#description .row {
  box-shadow: 0.1px 0.1px 6px lightgray;
  padding: 5% 0 4% 12%;
  margin: 50px auto;
  border-radius: 15px/20px;
}

.description-text {
  margin: auto;
}

.description-image-1, .description-image-3 {
  text-align: right;
}

.description-image-2 {
  text-align: left;
}

.description-logo {
  width: 80%;
}

#get-started {
  width: 60%;
  background-color: #fff;
  padding: 3% 10%;
  position: absolute;
  bottom: 310px;
  left: 20%;
  box-shadow: 0.1px 0.1px 10px hsl(192, 100%, 9%, 0.2);
  border-radius: 10px;
  text-align: center;
}

.get-started-button {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  border: none;
  margin: 5% auto;
  padding: 15px 80px;

}

#footer {
  margin-top: 15%;
  padding-top: 5%;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
}

.social-logo {
  text-align: center;
}

.social-logo a {
  color: #fff;
  margin: 2%;
  padding: 4% 5%;
  border: 0.5px solid #fff;
  border-radius: 100%;
}

.copyright {
  text-align: right;
}

.attribution {
  text-align: center;
}
